body {
  font-family: "Roboto", sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
}

.container {
  background-color: #fff;
  width: 890px;
  display: flex;
  height: auto;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main,
.sidebar {
  padding: 40px;
}

.main {
  flex: 2;
}

.sidebar {
  flex: 1;
  background-color: #f2f4f8;
  font-size: 14px;
  padding-top: 50px;
}

.name {
  margin: 0 0 20px;
  font-size: 40px;
  font-weight: 500;
}

.main h2 {
  font-size: 24px;
  margin: 40px 0 15px; /* Adjusted margin-top to 40px for main content */
  font-weight: 500;
  display: flex;
  align-items: center;
}

.sidebar h2 {
  font-size: 24px;
  margin: 20px 0 15px; /* Retained margin-top of 20px for sidebar */
  font-weight: 500;
  display: flex;
  align-items: center;
}

h2 img {
  margin-right: 10px;
  width: 24px;
  height: 24px;
}

p,
ul {
  margin: 10px 0;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}

a {
  color: #0066cc;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

.details,
.links {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  margin-top: 15px;
  gap: 5px;
}

.hobbies,
.languages {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.date {
  color: #888;
  font-size: 14px;
  font-style: italic;
}

.skills {
  font-size: 14px;
}
.certificate {
  width: 430px;
  color: rgb(101, 101, 101);
}