/* body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f7fa;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.name{
    margin: 10px 0 50px ;
    font-size: 40px;
    font-weight: 500;
}
.container {
  background-color: #f2f4f8;
  width: 1000px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main,
.sidebar {
  padding: 40px;
}

.main {
  flex: 2;
}

.sidebar {
  flex: 1;
  background-color: #e6eaf3;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}

p,
ul {
  margin: 15px 0;
  line-height: 1.6;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
}

a {
  color: #0066cc;
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

section {
  margin-bottom: 30px;
}
.hobbies {
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    bottom: -290px;
    /* align-items: center; */
  
/* 
h3{
    font-size: 30px;
}
.skills{
    font-size: 14px;
} */ 